@font-face{
	font-family: 'Dosis Regular';
  src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Dosis';

  src: url('../fonts/Dosis-ExtraLight.ttf');
  src: url('../fonts/Dosis-Regular.ttf');
  src: url('../fonts/Dosis-Medium.ttf');
  src: url('../fonts/Dosis-SemiBold.ttf');
}

@font-face{
	font-family: 'Dosis Bold';
	src: url('../fonts/Dosis-Bold.ttf');
  src: url('../fonts/Dosis-ExtraBold.ttf');
}
body{
	font-family: 'Dosis' !important;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
strong{
	font-family: 'Dosis Bold' !important;
}

body a:hover{
	text-decoration: none;
}

.regular{
	font-family: 'Dosis Regular';
}

.left-bar{
	background: #97be13;
  position: absolute;
  width: 120px;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  text-align: center;
}

.left-bar ul li{
  height: 30%;
}

.left-bar a{
	color: #fff; 
	padding-top: 30px; 
	display: block; 
	padding-top: 20px;
}

.left-bar a span{
	margin-top: 5px;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

a:visited, a:hover, a:focus{
	text-decoration: none;
}

.menu-btn{
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	background: #fff;
	text-align: center;
	padding: 5px;
}

.menu-btn img{margin: auto;margin-top: 8px;}

.home-right{
	margin-top: 10px;
}
.home h1{
	text-align: center;
	font-size: 120px !important;
	font-weight: bold;
	color: #97be13;
	margin-top: 30px;
	font-family: 'Dosis Bold';
}

.home .content{text-align: center;}

.title{
	width: 100%; 
	text-align: center; 
	margin-top: 30px;	
}

.green {
	color: #97be13;
}

.green-bg {
	background-color: #97be13 !important;
}

.gray-bg {
	background-color: #9b9a9f !important;
	/*5b5b5f*/
}

.white {
	color: #fff;
}

.bold {
	font-weight: bold;
}

.btn-submit{
  padding: 6px 10px !important;
	margin-top: 10px;
	display: block;
	padding-top: 45px !important;
	font-size: 20px !important;
	width: 120px;
	height: 120px;
	background: #97be13;
	color: #fff;
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}


.btn-submit:hover, .unlock:hover{
	color: #ffffff;
  background-color: #7a990f !important;
  border-color: #586f0b;
}

.btn-retake:hover{
  background: #5b5b5f !important;
}

.scanner a:hover{
	color: #7a990f;
}


.buy-btn{
	margin-top: 40px;
}

.text-right {
	padding-right: 2%;
}

input {
	width: 100%;
	background-color: #97be13;
	border: none;
	border-radius: 10px;
	height: 5%;
}

.container.content{
	padding-top: 40px;
}

.content li a {
	color: #fff;
}

.content li.number a, .content li.delete a, .content li.enter a{
	background-color: #c3c4c9;
	padding-top: 15px;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.content li.delete a, .content li.enter a{padding-top: 22px;}

.content h1, .content5 h1, .content6 h1 {
	font-size: 50px;
}

.device-input{height: 60px !important; color: #fff; font-size: 25px !important; border-radius: 20px !important;}
.device li{padding: 3px;}
.device li.number{font-size: 30px;}
.device li.delete, .device li.enter{font-size: 20px;}

.device ul li{width: 100%; height: 77px;}

.content5, .content6 {

}

.content5 h2, .content5 h1{margin: 5px 0px;}
.content6 h2, .content6 h1{margin: 5px 0px;}

.content5 img, .content6 img {
	width: 40px;
	margin-right: 5px; 
	height: 40px;
}

body th, body td {
	padding: 0px 15px;
	border-style: none solid;
	border-color: #97be13;
	text-align: center;
}

.clearfix {
	border: 1px solid #fff;
}
.lock, .check {
	display: inline-flex;
	width: 100%;
	padding: 1% 0% 0% 3%;
}
.lock p, .lock table {
	margin-right: 5%;
}
.lock th, .lock td {
	border-color: #fff;
}
.content5 button {
	border-radius: 20px;
	border: 3px solid;
	height: 40px;
}
.content5 button img {
	width: 20px;
}

.content5 button.unlock{padding: 5px 10px;}
.content5 button.unlock img{height: 20px;}

.continue {
	margin-top: 15px;
}
.continue a {
	border-radius: 50%;
	padding: 42px 10px;
	display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
.user {
	display: inline-flex;
}
.user .table1 {
	margin-left: 50px;
}

.down-arrow::before{
	background-image: url('../img/icon-down_arrow.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	content: "";
	display: inline-block;
}

.down-arrow-hover::before{
	background-image: url('../img/icon-down_arrow-hover.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	content: "";
	display: inline-block;
}


.scanner{
	font-size: 40px !important;
	text-align: center;
}

.barcode-area{
	background: url('../img/scanner.png') no-repeat center;
	height: 250px;
	margin-bottom: 10px;
}

.barcode-area-wallet{
	background: url('../img/phone-barcode.png') no-repeat center;
	background-size: 160px 235px;
	height: 235px;
	margin-bottom: 30px;
}

.card-area{
	margin-top: 10px;
	background: url('../img/icon-id_card.png') no-repeat center;
	background-size: 250px 188px;
	height: 195px;
}

.bill-right{
	background: url('../img/money.png') no-repeat center;
	background-size: 250px 200px;
	height: 200px;	
	position: absolute !important;
	right: 50px;
	margin-top: 75px;
}

.confirm-area{
	height: 195px;
}
.confirm-area img{width: 345px; margin-left: 45px;}

.bill-left{font-size: 30px; padding-top: 100px;}
.content-text{
	padding-top: 50px;
	text-align: center;
	font-size: 25px;
}
.money{font-size: 35px;}

.congratulation{
	position: absolute;
	right: 50px;
	top: 0px;
  background: url('../img/phone2.png') no-repeat center;
	background-size: 150px 420px;
	height: 420px;
	width: 150px;
}

.box-congratz h1{
	font-size: 80px !important;
}
.box-congratz p{font-size: 25px; margin: 0px; font-family: 'Dosis Regular';}
.congratz-footer{font-size: 30px; margin-top: 25px; font-family: 'Dosis';}

a:visited, a:hover, a:focus {
    text-decoration: none !important;
}

.device a:visited{
	color: #fff !important;
}

.left-bar a:visited, .left-bar a:hover, .btn-submit, .continue a{
  color: #fff !important;
}


.c-device{padding: 20px;}
.no-margin{margin: 0px;}
.verify h2{font-size: 40px;}
.left-bar a:hover{
	color: #7a990f !important;
}
.no-padding-right{
  padding-right: 0px;
}
.limit{margin-top: 10px;}